services:
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/pki/nginx/server.crt:/etc/pki/nginx/server.crt:ro
      - /etc/pki/nginx/private/server.key:/etc/pki/nginx/private/server.key:ro
    ports:
      - "443:443"
      - "80:80"


  gitea:
    image: docker.gitea.com/gitea:1.25.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - ROOT_URI=https://dava/apps/gitea/
    restart: always
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    expose:
      - "3000"

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.4
    restart: always
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
